{% extends 'base.html.twig' %}
{% block title %}Pompe Funebres Le Souvenir{% endblock %}
{% block stylesheets %}
<link href="{{ asset('/css/galerie.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<style>
  @import url(http://fr.allfont.net/allfont.css?fonts=amazone-bt);
</style>
 <div class="container-fluid parallax-window" id="parallax" data-parallax="scroll" data-image-src="img/imgslider2.jpg" style="
    height: 50em;
    background-position-y: center;
    font: -webkit-control;    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 0px;
    padding-left: 0px;">
    </div>
    <div class="container page-top">
        <div class="container" style="text-align: center; padding: 2em 4em 4em;" data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
            <h2 class="my-4" style="font-size: 3em;">Nos Produits</h2><hr>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="img/photo1.jpg" class="fancybox" rel="ligthbox">
                    <img  src="img/photo1.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="img/photo2.jpg"  class="fancybox" rel="ligthbox">
                    <img  src="img/photo2.jpg" class="zoom img-fluid"  alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="img/photo3.jpg" class="fancybox" rel="ligthbox">
                    <img  src="img/photo3.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="img/photo4.jpg" class="fancybox" rel="ligthbox">
                    <img  src="img/photo4.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="img/photo8.jpg" class="fancybox" rel="ligthbox">
                    <img  src="img/photo8.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="img/photo7.jpg" class="fancybox" rel="ligthbox">
                    <img  src="img/photo7.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="img/photo6.jpg" class="fancybox" rel="ligthbox">
                    <img  src="img/photo6.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="img/photo5.jpg" class="fancybox" rel="ligthbox">
                    <img  src="img/photo5.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="img/photo1.jpg" class="fancybox" rel="ligthbox">
                    <img  src="img/photo1.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="img/photo2.jpg"  class="fancybox" rel="ligthbox">
                    <img  src="img/photo2.jpg" class="zoom img-fluid"  alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="img/photo3.jpg" class="fancybox" rel="ligthbox">
                    <img  src="img/photo3.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="img/photo4.jpg" class="fancybox" rel="ligthbox">
                    <img  src="img/photo4.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="img/photo8.jpg" class="fancybox" rel="ligthbox">
                    <img  src="img/photo8.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="img/photo7.jpg" class="fancybox" rel="ligthbox">
                    <img  src="img/photo7.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="img/photo6.jpg" class="fancybox" rel="ligthbox">
                    <img  src="img/photo6.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="img/photo5.jpg" class="fancybox" rel="ligthbox">
                    <img  src="img/photo5.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="img/photo1.jpg" class="fancybox" rel="ligthbox">
                    <img  src="img/photo1.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="img/photo2.jpg"  class="fancybox" rel="ligthbox">
                    <img  src="img/photo2.jpg" class="zoom img-fluid"  alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="img/photo3.jpg" class="fancybox" rel="ligthbox">
                    <img  src="img/photo3.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="img/photo4.jpg" class="fancybox" rel="ligthbox">
                    <img  src="img/photo4.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="img/photo8.jpg" class="fancybox" rel="ligthbox">
                    <img  src="img/photo8.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="img/photo7.jpg" class="fancybox" rel="ligthbox">
                    <img  src="img/photo7.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="img/photo6.jpg" class="fancybox" rel="ligthbox">
                    <img  src="img/photo6.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="img/photo5.jpg" class="fancybox" rel="ligthbox">
                    <img  src="img/photo5.jpg" class="zoom img-fluid "  alt="">
                </a>
            </div>
       </div>
    </div>
    
{% endblock %}